#!/usr/bin/env python

PACKAGE = "oculus_sonar"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("downsample_factor", double_t, 0, "Image downsampling factor", 0.5, 0.05, 1.0)
gen.add("sonar_frame", str_t, 0, "TF frame ID of sonar", "oculus_link")
gen.add("spatial_median_kernel", int_t, 0, "Spatial median filter kernel size (1=off, must be odd)", 1, 1, 21)
gen.add("temporal_frames", int_t, 0, "Number of frames for temporal blend (1=off)", 1, 1, 20)
gen.add("temporal_mode", str_t, 0, "Temporal blend mode: 'median' or 'mean'", "median")

exit(gen.generate(PACKAGE, "oculus_sonar", "SonarReprojectorFiltered"))