#!/usr/bin/env python

PACKAGE = "oculus_sonar"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("downsample_factor", double_t, 0, "Image downsampling factor", 0.5, 0.05, 1.0)
gen.add("sonar_frame", str_t, 0, "TF frame ID of sonar", "oculus_link")

exit(gen.generate(PACKAGE, "oculus_sonar", "SonarReprojector"))